<ion-header>
  <ion-navbar hideBackButton="true">
    <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Up - Verses</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="up-verses">
  <h3>Read this stuff</h3>
  <div class="verse">
    <h4>Book 4:4-6</h4>
    <p>
      4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula mollis quam, nec fringilla nibh lacinia eu. 5 Phasellus ullamcorper bibendum sagittis. Duis viverra lacus elit, ac varius urna mollis a. In pulvinar pretium mi. Donec in nibh vulputate, bibendum sapien quis, scelerisque tortor.
    </p>
    <p>
      6 Aliquam venenatis nulla nec commodo semper. Nulla eu euismod risus. Nullam interdum bibendum tristique. Nam fringilla ut diam ut fermentum.
    </p>
  </div>
  <div class="verse">
    <h4>Book 8:10-12</h4>
    <p>
      10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vehicula mollis quam, nec fringilla nibh lacinia eu. 11 Phasellus ullamcorper bibendum sagittis. Duis viverra lacus elit, ac varius urna mollis a. In pulvinar pretium mi. Donec in nibh vulputate, bibendum sapien quis, scelerisque tortor.
    </p>
    <p>
      12 Aliquam venenatis nulla nec commodo semper. Nulla eu euismod risus. Nullam interdum bibendum tristique. Nam fringilla ut diam ut fermentum.
    </p>
  </div>
</ion-content>
