<ion-header>
  <ion-navbar hideBackButton="true">
    <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Up - Tools</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="up-tools">
  <!--<h3>Tools!</h3>-->
  <div class="tool">
    <p>
      <img src="build/assets/images/tools-word.jpg">
    </p>
  </div>
  <div class="tool">
    <p>
      <img src="build/assets/images/tools1.jpg">
    </p>
  </div>
  <div class="tool">
    <p>
      <img src="build/assets/images/tools-power.jpg">
    </p>
  </div>
</ion-content>
