<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img (click)="easterEgg()" src="assets/images/journey-logo.png">
  <h3>Journey Mennonite Church</h3>
  <p>
    Main Office: 620.663.4244 | 808 S Poplar, South Hutchinson, KS 67505
  </p>
  <p>
    <a href="http://www.journeymennonite.org/" target="_blank">journeymennonite.org</a>
  </p>
</ion-content>