// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-menu {

  ion-icon {
    font-size: 30px;
  }

  ion-label span {
    position: relative;
    top: -1px;
    left: 6px;
  }
}

ion-header {
  ion-icon {
    font-size: 30px;
  }
}

div.letter-icon {
    display: inline-block;
    border-radius: 50%;

    width: 25px;
    height: 25px;
    padding: 1px;
    
    // background: #fff;
    //border: 2px solid #666;
    color: #fff;
    text-align: center;
    
    // font: 32px Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

// .menu-icon {
//     width: 25px;
//     height: 25px;
//     padding: 1px;
// }

// .header-icon {
//     width: 25px;
//     height: 25px;
//     padding: 1px;
// }

.up {
  background: #005160;
}

.up:before {
  content: 'U'
}

.in {
  background: #88c1cc;
}

.in:before {
  content: 'I'
}

.out {
  background: #ffd103;
}

.out:before {
  content: 'O'
}