<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [ngClass]="fontSizeClass">
    <ion-list>
      <div *ngFor="let p of pages">
        <button menuClose ion-item (click)="openPage(p)">
          <div [ngClass]="p.iconCss" *ngIf="p.iconCss"></div>
          <ion-icon class="menu-icon" *ngIf="p.ionIcon" [name]="p.ionIcon"></ion-icon>
          <span>{{p.title}}</span>
        </button>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>