<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs">docs</a> will be your guide.</p>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="content">
        <h3>Replicate Jesus</h3>
        <p>
            The vision to Replicate Jesus begins with understanding the three distinct directions we see Jesus moving
            during his life
            on earth: UP, IN, & OUT. UP is about his relationship with the Father. IN is his investment in the
            disciples. OUT is
            his pursuit of the lost. In an effort to help us all go UP, IN & OUT utilize the practices in each section.
            But remember
            it’s in the overlap of these three directions that we experience the fullness of Christ.
        </p>
        <p>
            <img src="assets/images/missional-community-venn.png">
        </p>
        <p id="get-started">
            <button ion-button primary menuToggle>Get Started</button>
        </p>
    </div>
</ion-content>