<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="content">
        <h3>Replicate Jesus</h3>
        <p>
            The vision to Replicate Jesus begins with understanding the three distinct directions we see Jesus moving during his life on earth: UP, IN, & OUT. UP is about his relationship with the Father and calls us to follow Jesus. IN is his investment in the disciples and moves us to be a spiritual family. OUT is his pursuit of the lost and draws us on mission. In an effort to help us all go UP, IN & OUT utilize the practices in each section. But remember it's in the overlap of these three directions that we experience the fullness of Christ.
        </p>
        <p class="image-container">
            <img src="assets/images/missional-community-venn.png">
        </p>
        <p>
            Remember the goal of Missional Communities is not to master spiritual practices but to help people become disciples of Jesus who make disciples of Jesus. Use this app prayerfully and ask God to guide your use of the practices to make disciples.
        </p>
        <p class="image-container">
            <img src="assets/images/spiritual-growth-wheel.png">
        </p>
        <p id="get-started">
            <ion-menu-button>
              <ion-button>Get Started</ion-button>
            </ion-menu-button>
        </p>
    </div>
</ion-content>